---
import Base from "../../layouts/Base.astro";
import ArticleOfTheDayComponent from "../../components/ArticleOfTheDay";
---

<Base title="Article of the Day — La Coquille">
  <main>
    <ArticleOfTheDayComponent client:only="solid-js" />
  </main>
</Base>
