---
import Base from "../../layouts/Base.astro";
import ArticleOfTheDay from "../../components/ArticleOfTheDay";
---

<Base title="Article of the Day — La Coquille">
  <main>
    <ArticleOfTheDay client:only="solid-js" />
  </main>
</Base>
